.doorway_button {
    /* Where its placed */
    position:         relative;
    top:              5%;
    margin-right:     5px;
    margin-left:      5px;
    /* Dimensions */
    width:            49%;
    height:           90%;
    /* Beautification */
    background-color: #333333;
    border-radius:    200px;
    box-shadow:       -2px 3px 28px #b30000;
    /* Font */
    font-family:      Courier;
    font-size:        -webkit-xxx-large;
    font-weight:      bold;
    color:            #ccc;
}
